html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1E1A1D;
}

.background {
  background-color: #0B090B;
  opacity: 90%;
  z-index: -2;
}

h1, h2 {
  font-family: "Roboto Slab", serif;
  color: #1E1A1D;
  margin: 16px;
  margin: 0;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 780px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
@media screen and (min-width: 780px) {
  h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 910px) {
  h2 {
    font-size: 30px;
  }
}

.header {
  color: white;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 2fr 150px 1fr 150px 1fr 150px 2fr;
  grid-template-rows: auto auto 0 0;
}
@media screen and (min-width: 910px) {
  .header {
    grid-template-rows: 127px 373px 100px 50px;
  }
}
.header__info {
  width: 100%;
  max-height: 100%;
  background-color: #1E1A1D;
  opacity: 70%;
  padding-top: 20px;
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 20px 0 10px 20px;
}
@media screen and (min-width: 660px) {
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 910px) {
  .header__info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
.header__logo {
  text-decoration: none;
  color: #F9A03F;
  margin: 0;
  max-width: 100%;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 660px) {
  .header__logo {
    margin: 20px auto;
  }
}
@media screen and (min-width: 910px) {
  .header__logo {
    margin-left: 40px;
  }
}
.header__connect {
  line-height: 20px;
}
.header__connect--hidden {
  display: none;
}
@media screen and (min-width: 910px) {
  .header__connect--hidden {
    display: flex;
    justify-content: end;
  }
}
.header__menu {
  padding: 0;
  display: none;
  margin: 0;
  list-style: none;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 660px) {
  .header__menu {
    display: flex;
  }
}
.header__call {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 20px 30px;
}
.header__item {
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #F9A03F;
  padding: 10px 20px;
}
.header__item:hover {
  background-color: #0B090B;
}
@media screen and (min-width: 660px) {
  .header__item {
    padding: 20px 30px;
    border-bottom: 0;
  }
  .header__item--hover:hover {
    background-color: black;
    border-left: 2px solid #F9A03F;
    color: #F9A03F;
  }
  .header__item--active {
    background-color: black;
    border-left: 2px solid #F9A03F;
    border-bottom: 0;
    color: #F9A03F;
  }
}
.header__foto {
  width: 100%;
  height: 404px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 910px) {
  .header__foto {
    height: 600px;
  }
}
.header__title {
  grid-area: 2/1/3/-1;
  padding: 40px;
  display: none;
}
@media screen and (min-width: 910px) {
  .header__title {
    display: block;
  }
}
.header__background {
  background-color: #1E1A1D;
  opacity: 50%;
  padding: 10px;
}
.header__background h1, .header__background h2 {
  color: white;
}

.hamburger {
  position: relative;
  margin-top: 20px;
}
@media screen and (min-width: 400px) {
  .hamburger {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 660px) {
  .hamburger {
    padding-bottom: 0;
    margin: 0 auto;
  }
}
.hamburger__menu {
  padding-bottom: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 660px) {
  .hamburger__menu {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 910px) {
  .hamburger {
    margin: 0;
  }
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #1E1A1D;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .header__menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: left;
}
.menu__toggler {
  cursor: pointer;
  padding-right: 40px;
  color: #F9A03F;
  position: relative;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 660px) {
  .menu__toggler {
    display: none;
  }
}

.glide {
  z-index: -1;
  grid-area: 1/1/4/-1;
  max-height: 100%;
}
.glide__bullets {
  display: none;
}
@media screen and (min-width: 660px) {
  .glide__bullets {
    display: block;
  }
}

.odkaz {
  display: none;
}
@media screen and (min-width: 910px) {
  .odkaz {
    background-color: #F9A03F;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-decoration: none;
    display: grid;
    gap: 20px;
  }
  .odkaz__1 {
    grid-area: 3/2/-1/3;
  }
  .odkaz__2 {
    grid-area: 3/4/-1/5;
  }
  .odkaz__3 {
    grid-area: 3/6/-1/7;
  }
  .odkaz__ikona {
    width: 50px;
    justify-self: center;
    align-self: center;
  }
  .odkaz__popis {
    color: black;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}

.main {
  display: flex;
  gap: 20px;
  padding: 40px;
  align-items: center;
}
.main__sluzby, .main__kariera {
  flex-direction: column;
}
.main__nadpis {
  font-size: 30px;
  color: #F9A03F;
  font-family: "Roboto Slab", serif;
}
.main__nadpis--odskok::before {
  display: block;
  max-width: 400px;
  height: 2px;
  background-color: #F9A03F;
  content: "";
  margin-top: 20px;
  margin-bottom: 20px;
}
.main__text {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.main__img {
  width: 300px;
  max-width: 100%;
  height: 100%;
}
.main__img--none {
  display: none;
}
@media screen and (min-width: 780px) {
  .main__img--none {
    display: flex;
  }
}
.main__popispozice {
  color: white;
}
.main__odsazeni {
  padding: 40px 40px 0 40px;
}
.main__button {
  display: inline-block;
  padding: 16px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  background-color: #F9A03F;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0B090B;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: black;
  opacity: 0.7;
  padding: 30px;
}
.footer__nav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.footer__nav .footer__text {
  font-size: 16px;
}
.footer__nav--centre {
  padding: 0 40px;
  border-left: 2px solid #F9A03F;
  border-right: 2px solid #F9A03F;
}
.footer__text {
  color: #F9A03F;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.footer__kontakt {
  display: none;
}
@media screen and (min-width: 660px) {
  .footer__kontakt {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
}
.footer__img {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-bottom: 20px;
}
.footer__odkaz {
  color: white;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 3px;
}

.galery__item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galery__PC {
  display: none;
}
@media screen and (min-width: 660px) {
  .galery__PC {
    display: block;
  }
}
@media screen and (min-width: 660px) {
  .galery__mobil {
    display: none;
  }
}

.mapa {
  display: grid;
}
.mapa__maps {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  justify-self: center;
  filter: invert(90%);
  margin: 0;
}

.tel__flex {
  display: flex;
  gap: 20px;
}
.tel__flex--size {
  flex-basis: 250px;
}

.form__background {
  background-image: url(/images/kontakt_pozadi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: 16px;
}

hr {
  margin-top: 40px;
  color: #F9A03F;
}