        <footer class="footer">
            <div class="footer__kontakt">

                <div class="footer__nav">
                    <img class="footer__img" src="/images/phone.png" alt="telefon">
                    <p class="footer__text"> TELEFON </p>
                    <p class="footer__odkaz"> +420 778 123 456 </p>
                    <p class="footer__odkaz"> +420 585 259 867 </p>
                </div>

                <div class="footer__nav footer__nav--centre">
                    <img class="footer__img" src="/images/adresa.png" alt="adresa">
                    <p class="footer__text"> ADRESA </p>
                    <p class="footer__odkaz"> Ostružnická 21 </p>
                    <p class="footer__odkaz"> 779 00 Olomouc </p>
                </div>

                <div class="footer__nav">
                    <img class="footer__img" src="/images/email.png" alt="email">
                    <p class="footer__text"> E-MAIL </p>
                    <p class="footer__odkaz"> dumsnu@dumsnu.cz </p>
                    <p class="footer__odkaz"> info@dumsnu.cz </p>
                </div>

            </div>

            <hr>

            <p class="footer__text">©2021, Czechitas</p>

            <p class="footer__odkaz"> Použité zdroje: <a target="_blank" href="https://icons8.com">Icons8</a>
        </footer>